@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "EbBold";
  src: url("./components/fonts/EBGaramond-Bold.ttf");
}
@font-face {
  font-family: "EbRegular";
  src: url("./components/fonts/EBGaramond-Regular.ttf");
}
@font-face {
  font-family: "CormorantBold";
  src: url("./components/fonts/cormorant-garamond-bold.ttf");
}
@font-face {
  font-family: "CormorantRegular";
  src: url("./components/fonts//EBGaramond-Regular.ttf");
}
@font-face {
  font-family: "CormorantSemibold";
  src: url("./components/fonts/cormorant-garamond-semibold.ttf");
}

body{
  @apply overflow-x-hidden
}